<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python312\python.exe|C:\Python312\Scripts\wfastcgi-enable" resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    <fastCgi>
      <application fullPath="C:\Python312\python.exe" arguments="C:\Python312\Scripts\wfastcgi-enable" instanceMaxRequests="10000">
        <environmentVariables>
          <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\example-fastapi" />
          <environmentVariable name="WSGI_HANDLER" value="app.main:app" />
          <environmentVariable name="UVICORN_CMD" value="uvicorn" />
          <environmentVariable name="PORT" value="8000" />
        </environmentVariables>
      </application>
    </fastCgi>
  </system.webServer>
</configuration>
